{% load i18n %}
{% load nav_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>{{ site.name }} :: {% block title %} NO TITLE? {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}theme/style.css" />
    <link rel="icon" href="{{ MEDIA_URL}}favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon"/>

    {% block media %}{% endblock %}
  </head>

<body>
  <div id="background1">

    <div id="background2">

      <div id="header">
        <div id="logo">
          <a href="/"><h1>{{ site.name }}</h1></a>
        </div> 
        <div id="menu"> 
          <ul>
            {% if user.is_staff %}
            <li class="admin"><a href="{% url admin:index %}"><img src="{{ MEDIA_URL }}extras/tango/16x16/categories/preferences-system.png" align="top" title="{% trans "administration panel" %}" alt="{% trans "admin" %}"/></a></li>
            <li class="admin"><a href="{% url audit:overview %}"><img src="{{ MEDIA_URL }}extras/tango/16x16/status/dialog-information.png" align="top" title="{% trans "website statistics" %}" alt="{% trans "statistics" %}"/></a></li>
            {% endif %}
            {% for item in navigation %}
            <li><a href="{% render_template item.url %}" title="{% item_trans item "description" LANGUAGE_CODE %}">{% item_trans item "name" LANGUAGE_CODE %}</a></li>
            {% endfor %}
            {% if user.is_authenticated %}
            <li class="admin"><a href="{% url logout %}?next={{ full_path }}"><img src="{{ MEDIA_URL }}extras/tango/16x16/actions/system-log-out.png" align="top" title="{% trans "logout" %}" alt="{% trans "logout" %}"/></a></li>
            {% else %}
            <li class="admin"><a href="{% url login %}?next={{ full_path }}"><img src="{{ MEDIA_URL }}extras/tango/16x16/actions/go-next.png" align="top" title="{% trans "logout" %}" alt="{% trans "logout" %}"/></a></li>
            {% endif %}
          </ul>
        </div> 
      </div>
      <!-- end #header --> 

      <div id="page1">
        <div id="page2">
          <div id="page3">
            {% block content %} NO CONTENT? {% endblock %}
          </div><!-- ends page3 -->
        </div><!-- ends page2 -->
      </div><!-- ends page1 -->

    </div>
    <!-- ends background2 -->

    <div id="footer">
      <p>(c) {% now "Y" %} André Anjos</p>
    </div>

    </div>
    <!-- ends background1 -->
  
  </body>

</html>
