{% extends "base.html" %}
{% load i18n %}
{% load publication_tags %}
{% load djpro_tags djangoogle_tags %}
{% block media %}
  {{ block.super }}
  {% djangoogle_last_media %}
  <link href="{% url media "djit/css/style.css" %}" rel="stylesheet" type="text/css" media="screen" />
  <link href="{% url media "publications/css/style.css" %}" rel="stylesheet" type="text/css" media="screen" />
  <link href="{% url media "theme/bubble.css" %}" rel="stylesheet" type="text/css" media="screen" />
  <link href="{% url media "theme/home.css" %}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block title %}{% trans "Home Page" %}{% endblock %}

{% block content %}
<table class="home layout">
  <tr class="top">
    <td class="blocks left">
      <div class="box">
        <p class="title">{% trans "Latest publications" %}</p>
        <div class="publication">
        {% last_publications 5 0 %}
        </div>
      </div>
    </td>
    <td rowspan="2" class="right blocks media">
      <div class="box">
      {% djangoogle_media_box 3 1 1 90 %}
      </div>
    </td>
  </tr>
  <tr class="bottom">
    <td class="blocks left">
      <div class="box">
        <p class="title">{% trans "Latest software changes" %}</p>
        <div class="djit">
        {% djpro_list 6 1 %}
        </div>
      </div>
    </td>
  </tr>
</table>
{% endblock %}
