{% extends "themed.html" %}
{% load i18n %}
{% block header %}
  <!-- Feeds go here if the caller has provided so -->
  {% for feed in feeds %}
  <link rel="alternate" type="application/atom+xml" title="{{ feed.title }}" href="http://{{ site.domain }}/publication/feeds/{{ feed.basename }}/"/>
  {% endfor %}
{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="subnavigation">
  <a href="/multimedia/press">Public events</a> &middot;
  <a href="/multimedia/personal">Personal files</a> &middot;
  <a href="/multimedia/other">Other files</a>
</div>
<div class="multimedia">
  <p class="title">{{ title }} {% blocktrans %}(in reverse chronological order){% endblocktrans %}</p>
  {% if object_list %}
  <table class="multimedia_list">
    {% for o in object_list %}
    <tr class="{% cycle 'even' 'odd' %}">
      <td class="preview"><a href="{{ o.id }}"><img src="{{ o.preview.url }}"></img></a></td> 
      <td class="caption">
        <table>
          {% if show_category %}<tr class="category"><td>{% trans "In" %} "{{ o.get_category_display }}":</td></tr>{% endif %}
          <tr class="description"><td>{{ o.description }}</td></tr>
          <tr class="media_upload"><td>{% trans "Uploaded on" %} {{ o.date|date:"j/F/Y" }}.</td></tr>
        </table>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>{% trans "No multimedia files are available in this category." %}</p>
  {% endif %}
</div>
{% endblock %}
