*~
*.pyc
*.pyo
.*.swp
.installed.cfg
.mr.developer.cfg
bin
develop-eggs
dist
downloads
eggs
parts
*.egg-info
django.mo
db.sql3
media/publications
media/projects
cache/
backup/
favicon.*
project/dbconfig.py
