{% extends "themes/themed.html" %}
{% load i18n %}
{% load markup %}
{% load picasaweb_filters %}
{% block title %}{% trans "Photos" %} :: {{ object }}{% endblock %}

{% block content %}
  <body>
    <div class="picasaweb">
      <p class="title">{% trans "Picasaweb account of" %} {{ object }}</p>
      {% for entry in object.feed.entry %}
      <table>
        <tr>
          <td>
            <div class="thumbnail">
              <a href="{{ entry.GetHtmlLink.href }}"><img
                 width="{{ entry.media.thumbnail.0.width }}" 
                 height="{{ entry.media.thumbnail.0.height }}"
                 src="{{ entry.media.thumbnail.0.url }}"/></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="caption">
              <div class="title">{{ entry.title.text }}</div>
              <div class="location">
              {% if entry.location.text %}({{ entry.location.text }})
              {% else %}({% trans "No location specified" %})
              {% endif %}
              </div>
              <!-- <div class="geo">
              {% if entry.geo.location %} 
              lat:{{ entry.geo.location.0 }}, long:{{ entry.geo.location.1 }}
              {% else %}{% trans "No geo tags specified" %}
              {% endif %}
              </div> -->
              <div class="photos">{{ entry.numphotos.text }} photo(s)</div>
              <div class="published">{% trans "published" %} {{ entry.published.text|gd_date:"%c" }}</div>
              <div class="updated">{% trans "updated" %} {{ entry.updated.text|gd_date:"%c" }}</div>
            </div>
          </td>
        </tr>
      </table>
      {% endfor %}
    </div>
  </body>
{% endblock %}

