{% extends "themed.html" %}
{% load i18n %}
{% load markup %}
{% load picasaweb_filters %}
{% block title %}{% trans "Photo Gallery" %}{% if owner %} ({{ owner }}){% endif %}{% endblock %}

{% block content %}
  <body>
    <div class="picasaweb">
      <p class="title">{% trans "Photo Gallery" %}{% if owner %} ({{ owner }}){% endif %}</p>
      {% for entry in entries %}
      <table>
        <tr>
          <td>
            <div class="thumbnail">
              <a href="{{ entry.GetHtmlLink.href }}"><img
                 width="{{ entry.media.thumbnail.0.width }}" 
                 height="{{ entry.media.thumbnail.0.height }}"
                 src="{{ entry.media.thumbnail.0.url }}"/></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="caption">
              <div class="title">{{ entry.title.text }}</div>
              <div class="location">
              {% if entry.location.text %}({{ entry.location.text }})
              {% else %}({% trans "No location specified" %})
              {% endif %}
              </div>
              <!-- <div class="geo">
              {% if entry.geo.location %} 
              lat:{{ entry.geo.location.0 }}, long:{{ entry.geo.location.1 }}
              {% else %}{% trans "No geo tags specified" %}
              {% endif %}
              </div> -->
              <div class="photos">{% blocktrans with entry.numphotos.text as numphotos and entry.numphotos.text|str2int|pluralize as plural %}{{ numphotos }} photo{{ plural }} by{% endblocktrans %}
                <a href="http://{{ site.domain }}/photo/{{ usermap|getitem:entry.user.text }}">{{ entry.nickname.text|lower }}</a></div>
              <div class="published">{% trans "published" %} {{ entry.published.text|gd_date:"%a, %d/%b/%Y" }}</div>
              <div class="updated">{% trans "updated" %} {{ entry.updated.text|gd_date:"%a, %d/%b/%Y" }}</div>
            </div>
          </td>
        </tr>
      </table>
      {% endfor %}
    </div>
  </body>
{% endblock %}

