{% extends "base.html" %}
{% load i18n %}
{% load markup %}

{% block header %}
  <!-- Feeds go here if the caller has provided so -->
  {% for feed in feeds %}
  <link rel="alternate" type="application/atom+xml" title="{{ feed.title }}" href="/project/feeds/{{ feed.basename }}/{{ object.slug }}"/>
  {% endfor %}
{% endblock %}
{% block title %}{% trans "Project" %} :: {{ object }}{% endblock %}

{% block content %}
  <body>
    <div class="project">
      {% if object.public_downloads %}
      <div class="downloads">
        <!-- <p class="downloads_header">
        <a href="downloads" title="{% trans 'Click here for a exhaustive listing of all downloads available for this project' %}">{% trans "Downloads" %}</a></p> -->
        {% for f in object.public_downloads %}
        <a class="download_link" href="{% url projects:download f.id %}" title="{% trans 'Download the latest version' %}">
          <p class="download_entry">
          <span class="download_decoration"></span>
          <font class="download_name">{{ f.name }}</font><br />
          <font class="download_detail">{{ f.data.size }} {% trans "bytes" %}, {{ f.date|date:"j/F/Y" }}</font>
          </p>
        </a>
        {% endfor %}
      </div>
      {% endif %}
      <p class="title">{{ object.name }}</p>
      <p class="description">{{ object.description|textile }}</p>
      {% if object.screenshot_set.count %}
      <p class="details">{% trans "Screenshots" %}</p>
        {% for f in object.screenshot_set.all %}
        <a class="screenshot_link" href="{{ f.data.url }}" title="{% trans 'Click for a larger version' %}"><img class="screenshot_img" src="{{ f.data.url }}" height="200px" alt="{{ f.data.name }}"></img></a>
        <p class="screenshot_caption">{{ f.description }}</p>
        {% endfor %}
      {% endif %}
      <p class="details">{% trans "Information" %}</p>
      <table>
        <tr><td>{% trans "Creation Date" %}: {{ object.date|date:"j/F/Y" }}
        </td></tr>
        <tr><td>{% trans "Last updated" %}: {{ object.updated_on|date:"j/F/Y" }}
        </td></tr>
        {% if object.clone_url %}
        <tr><td>{% trans "Git clone URL" %}: <a href="{{ object.clone_url }}">{{ object.clone_url }}</a>
        </td></tr>
        {% endif %}
        {% if object.wiki_page %}
        <tr><td>{% trans "Wiki" %}: <a href="{{ object.wiki_page }}">{{ object.wiki_page }}</a></td></tr>
        {% endif %}
        {% if object.dsa_pubkey %}
        <tr><td>{% trans "Public DSA key" %}: <a href="{% url projects:dsakey object.slug %}">DSA key</a></td></tr>
        {% endif %}
      </table>
    </div>
    <div class="actions">
      [ <a href="/admin/projects/project/{{ object.slug }}/">{% trans "edit" %}</a> | <a href="/admin/projects/download/add/">{% trans "upload" %}</a> ]
    </div>
  </body>
{% endblock %}

