{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Projects" %}{% endblock %}

{% block media %}
  {{ block.super }}
  <link href="{{ MEDIA_URL }}projects/css/style.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block content %}
    <div class="project">
      <p class="title">{% blocktrans %}Projects (last updated first){% endblocktrans %}</p>
      {% if object_list %}
        <table class="project_list">
          {% for p in object_list %}
          <tr class="{% cycle 'even' 'odd' %}">
            <td class="project_name"><a href="{% url projects:detail p.slug %}">{{ p.name }}</a></td>
            <td class="project_description">{{ p.brief }}</td> 
          </tr>
          {% endfor %}
        </table>
      {% else %}
      <p>{% trans "No projects are available." %}</p>
      {% endif %}
    </div>
{% endblock %}
