tr.bubble_title td {
  background-color: gray;
  color: white;
  font-family: arial, helvetica, sans;
  font-weight: bold;
  padding: 0.3em;
  text-align: right;
  font-size: 13px;
}

/** adjustments for djangoogle **/
.djangoogle .bubble td.bubble_contents .preview {
  height: 110px;
}

.djangoogle .bubble td.even .preview {
  background-color: #cef;
}

.djangoogle .bubble td.odd .preview {
  background-color: #eee;
}

.djangoogle .bubble .list > table {
  width: 100%;
}
