/** Details for bubbles **/
.bubble {
}

.bubble table {
  border-spacing: 0px;
  border: 1px solid #eee;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
}

.bubble table * table {
  border-spacing: 1px;
  border: none;
  border-radius: 0em;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  font-size: 0.95em;
}

.bubble table tr.bubble_title td {
  background-color: gray;
  color: white;
  font-family: arial, helvetica, sans;
  font-weight: bold;
  padding: 0.3em;
  text-align: right;
  font-size: 0.9em;
}

.bubble table tr th {
  background-color: gray;
  color: white;
  /* order is top right bottom left */
  padding: 0em 0.5em 0em 0.5em;
  text-align: left;
}

.bubble table * table tr:last-child td:first-child {
  border-bottom-left-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
}

.bubble table * table tr:last-child td:last-child {
  border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
}

table.home {
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
}

table.home table.bottom td.media {
  vertical-align: top;
}

table.home td.blocks {
  padding: 0.3em;
  width: 300px;
}

table.home td.personal {
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border: 4px white solid;
  background-color: #eee;
  vertical-align: top;
  font-size: 0.8em;
}

table.home td.personal p {
  text-indent: 2em;
  padding: 0.5em;
}

table.home td.personal h3 {
  text-align: right;
  padding: 0.5em;
}

/** a post adjustment for repositories **/
.repository .bubble td.heads, .repository .bubble td.tags {
  width: 10%;
}

.repository .bubble table.inner tr td:last-child {
  width: 20%;
}

.repository .bubble table.inner td:first-child {
  width: 20%;
}

.repository tr td {
  padding: 0em;
}

/** a post adjustment for publications **/
.publication .bubble td.publication_date {
  width: 20%;
}

.publication .bubble td.publication_attachments {
  width: 10%;
}

/** general post adjustment **/
.bubble tr td {
  padding: 0.2em;
}

/** adjustments for djangoogle **/
.djangoogle .bubble td.bubble_contents table.preview {
  height: 100%;
}

.djangoogle .bubble table.preview .comment {
  font-size: 0.9em;
  font-style: italic;
}

.djangoogle .bubble td.even table.preview {
  background-color: #cef;
}

.djangoogle .bubble td.odd table.preview {
  background-color: #eee;
}

.djangoogle .bubble tr:last-child td:first-child table.preview {
  border-bottom-left-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
}

.djangoogle .bubble tr:last-child td:last-child table.preview {
  border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
}
