/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: #F6F6F6 url(images/background.jpg) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6B6B6B;
}

ul, ol {
  margin-top: 1em;
  margin-left: 40px;
}

/* Wrapper */

#background1 {
	width: 960px;
	margin: 0 auto;
}

/* Header */

#header {
	height: 140px;
	background: #087FE7 url(images/img03.jpg) no-repeat;
}

#header a:hover, #header a {
  text-decoration: none;
}

/* Logo */

#logo {
  margin-left: 50px;
  margin-top: 5px;
  float: left;
  width: 860px;
}

#logo h1 {
	margin: 0;
	letter-spacing: -2px;
	font-size: 40px;
	color: #fff;
}

#logo h1 a {
	text-decoration: none;
	color: #fff;
}

#logo .address {
  margin-top: 5px;
  color: #ddd;
}

#logo img.photo {
  float: left;
  width: 90;
  height: 120;
  padding: 2px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin-right: 5px;
}

/* Menu */

#menu {
	float: right;
  margin-top: 10px;
}

#menu .item {
  background-color: #6e9d00;
  border-color: #6e9d00;
  color: white;
  font-size: 1em;
  border-width: 1px;
  border-style: outset;
	padding: 2px 10px 2px 10px; /* top right bottom left */
}

#menu .item:hover {
  border-style: inset;
  width: 50px;
}

#menu .admin img {
  border: none;
  background: none;
  padding: 0px;
  margin: 0px;
  vertical-align: top;
}

#menu a {
	text-decoration: none;
	font-size: 13px;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: none;
}

/* Page */

#page1 {
  /* border: 1px black solid; */
	background: url(images/img02.jpg) repeat-y;
}

#page2 {
  /* border: 1px green solid; */
	background: url(images/top-of-page.jpg) no-repeat;
	padding: 0 0 0 40px; /* top right bottom left */
}

#page3 {
  /* border: 1px red solid; */
	padding-top: 40px; /* relative to page1 */
  margin: 0 10px 0 10px; /* top right bottom left */
  width: 858px; 
	color: #37404C;
}

/* Footer */

#footer {
	height: 108px;
	background: url(images/bottom.jpg) no-repeat;
}

#footer p {
	margin: 0;
	padding-top: 45px;
	text-align: center;
	color: #8E8E8E;
}

#footer a {
	color: #666666;
}

/* From this poin onwards, we have elements that are required
 * for every web page in this website
 */
.title {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.pagination {
  margin-top: 1em;
  text-align: right;
}

div.actions, div.actions a:link, div.actions a:visited {
  margin-top: 2em;
  font-size: 1em;
  color: #000
  text-decoration: none;
  font-weight: bold;
  text-align: right;
}

div.actions a:hover {
  color: #333;
  text-decoration: underline;
}

.repository * table {
  font-size: 1.1em;
}

.repository .bubble table {
  font-size: 0.9em;
}

.repository .bubble .list table {
  font-size: 1em;
}

.repository td.tags a,
.repository td.heads a,
.repository p.navigation a {
  text-decoration: none;
}

/** For our PyPI index **/
.project p.intro {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.project pre.code {
  padding-top: 0.5em;
  text-indent: 1em;
  background-color: black;
  width: 100%;
  color: #eee;
  margin-bottom: 0.5em;
}

.project p.navigation {
  text-align: right;
}

.project p.navigation a {
  background-color: red;
  /* order is top right bottom left */
  padding: 0.1em 0.3em 0.1em 0.3em;
  color: white;
  border-style: outset;
  border-width: 1px;
  border-color: red;
  font-weight: bold;
  font-size: 1.1em;
}

.project p.navigation a:hover {
  border-style: inset;
  background-color: #f33;
  border-color: #f33;
  text-decoration: underline;
}

.project p.navigation a:link, .project p.navigation a:visited {
  text-decoration: none;
}

.project p.brief {
  background-color: #eee;
  padding: 1em;
  text-align: center;
  font-style: italic;
  margin-bottom: 1em;
}

.project p.download {
  background-color: #9f9;
  width: 40%;
  padding: 0.5em;
  margin-bottom: 1em;
}

.project .description {
  border: 1px solid #eee;
  padding: 0.5em;
  margin-bottom: 1em;
}

.project p.subtitle {
  font-size: 1.4em;
  font-weight: bold;
}

.project table.previous_downloads, .project table.project_list {
  border: 1px solid #eee;
}

.project table.previous_downloads th, .project table.project_list th {
  text-align: left;
  background-color: gray;
  color: white;
  padding: 0.1em;
  font-size: 0.8em;
}

.project table.previous_downloads tr td {
  padding: 0.2em;
  font-size: 0.8em;
}

.project table.previous_downloads tr.even, .project table.project_list tr.even {
  background-color: #cef;
}

.project table.previous_downloads tr.odd, .project table.project_list tr.odd {
  background-color: #eee;
}

