/* minor adjustments to the layout of statistics pages */

div.audit h4 {
  font-size: 1.5em;
  text-align: center;
}

div.audit h3 {
  margin-top: 1.5em;
  width: 100%;
  border: solid 1px #ddddff;
  color: green;
}
