{% extends "base.html" %}
{% load i18n %}
{% load publication_tags %}
{% load djangoogle_tags %}
{% block media %}
  {{ block.super }}
  {% djangoogle_last_media %}
  <link href="{% url media "publications/css/style.css" %}" rel="stylesheet" type="text/css" media="screen" />
  <link href="{% url media "project/css/home.css" %}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block title %}{% trans "Home Page" %}{% endblock %}

{% block content %}
<table class="home layout">
  <tr class="top">
    <td class="blocks left">
      <div class="box">
        <p class="title">{% trans "Latest publications" %}</p>
        <div class="publication">
        {% last_publications 10 0 %}
        </div>
      </div>
    </td>
    <td class="right blocks media">
      <p class="title">{% trans "Latest media" %}</p>
      <div class="djangoogle">
      {% djangoogle_media_box 2 1 1 90 %}
      </div>
    </td>
  </tr>
</table>
{% endblock %}
