/* complements djangoogle setup for my website */

table.entry tr.title {
  font-size: 1em;
}

table.entry {
  height: 330px;
}

.pagination {
  background-color: #eee;
  padding: 1em;
  border: 5px white solid;
}

.pagination p {
  text-align: center;
}
