/* General layout: one column */

body {
  background: #000 url(bg.jpg);
  text-align: center;
  vertical-align: middle;
  font-family: verdana, arial, helvetica, sans-serif;
}

body div.banner {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

body div.banner a {
  text-decoration: none;
}

body div.banner img {
  border-width: 0px;
}

body div.navigation {
  text-align: center;
}

body div.navigation ul li {
  color: #7af;
  display: inline;
  list-style-type: none;
	padding: 5px 0px 0px 5px;
	font: 18px verdana, arial, sans-serif; 
  font-weight: bold;
}

body div.navigation a {
  color: #7af;
	text-decoration: none;
}

body div.navigation a:hover {
  text-decoration: underline;
  color: #ddf;
}

body div.subnavigation {
  color: #26a;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
}

body div.subnavigation a {
  text-decoration: none;
  color: #26a;
}

body div.subnavigation a:hover {
  text-decoration: underline;
  color: #048;
}

body div.main {
  width: 900px;
  margin-right: auto;
  margin-left : auto;
  border-width: 20px;
  color: #222;
  text-align: left;
}

body div.footer {
  color: #cbcbcb;
  text-align: right;
  font-size: 0.7em;
  font-style: italic;
  padding: 2px;
}

body div.content {
  -moz-border-radius: 1em; 
  -khtml-border-radius: 1em; 
  border-radius: 1em; 
  background-color: #fff;
  padding: 0.2em;
}

div.publication p.publication_year {
  font-size: 1.2em;
  font-weight: bold;
}

div.publication table {
  width: 100%;
}

div.publication table.publication_list {
  font-size: 0.9em;
}

div.publication table.publication_list tr {
  background-color: #eee;
  height: 2.7em;
}

div.publication table.publication_list td.publication_date {
  width: 12%;
}

div.publication table.publication_list td.publication_type {
  width: 15%;
}

div.publication table.publication_list td.publication_attachments {
  width: 10%;
}

div.publication table.publication_list td.publication_attachments a {
  padding: 0.2em;
  background-color: #5d5;
  -moz-border-radius: 0.1em; 
  -khtml-border-radius: 0.1em; 
  border-radius: 0.1em;
  text-decoration: none;
}

div.publication table.publication_list td.publication_attachments a:hover {
  text-decoration: underline;
}

div.publication table.publication_list tr.even {
  background-color: #ccc;
}

div.publication ul li.odd {
}

div.publication p.detail {
  font-size: 0.8em;
  text-align: center;
  color: #888;
  font-style: italic;
}

div.publication p.authors {
  font-size: 0.9em;
  text-align: center;
  font-weight: bold;
}

div.publication div.abstract {
  color: #000;
  font-family: serif;
  text-indent: 1.3em;
}

div.publication table.files {
  font-size: 0.7em;
  background-color: #dca;
  border: 1px solid #333;
}

div.publication table.files th {
  text-align: center;
}

div.publication table.files a:link, div.publication table.files a:visited {
  font-size: 0.8em;
  color: #333;
  text-align: center;
  padding: 0.3em;
}

div.actions, div.actions a:link, div.actions a:visited {
  font-size: 0.7em;
  color: #000
  text-decoration: none;
  font-weight: bold;
  text-align: right;
}

div.actions a:hover {
  color: #333;
  text-decoration: underline;
}

p.title {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

div.picasaweb table {
  display: inline;
  width: 32%;
  height: 260px;
}

div.picasaweb div.thumbnail {
  text-align: center;
}

div.picasaweb div.thumbnail img {
  border: 5px solid #eee;
}

div.picasaweb div.caption {
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  width: 260px;
}

div.picasaweb div.caption div.title {
  font-weight: bold;
}

div.picasaweb div.caption div.photos {
  font-style: italic;
}

div.picasaweb div.caption div.published {
  font-style: italic;
  color: #cbcbcb;
}

div.picasaweb div.caption div.updated {
  font-style: italic;
  color: #cbcbcb;
}

div.delicious table {
  width: 100%;
  padding: 5px;
}

div.delicious font.entry_title {
  font-size: 90%;
  font-weight: bold;
}

div.delicious font.entry_text {
  font-size: 70%;
}

div.delicious font.entry_date {
  font-size: 50%;
  font-style: italic;
}

div.delicious table tr.even {
  background-color: #afa;
}

div.project p.details {
  font-size: 18px;
  font-weight: bold;
}

div.project table {
  width: 100%;
  padding: 5px;
}

div.project table tr.even {
  background-color: #ddd;
}

div.project table.project_list {
  font-size: 14px;
}

div.project table.project_list tr {
  height: 50px;
}

div.project table.project_list tr.even {
  background-color: #ddd;
}

div.project table.project_list tr.odd {
}

div.project div.downloads {
  float: right;
}

div.project span.download_decoration {
  background-image: url(download.png);
  float: left;
  border-width: 0px;
  height: 32px;
  width: 32px;
  padding: 2px;
  background-repeat: no-repeat; 
}

div.project p.downloads_header {
}

div.project a.download_link {
  text-decoration: none;
  border-width: 0px;
  color: #333;
}

div.project p.download_entry {
  padding: 0.7em;
  background-color: #8f8;
  -moz-border-radius: 0.5em; 
  -khtml-border-radius: 0.5em; 
  border-radius: 0.5em;
}

div.project font.download_detail {
  font-size: 0.6em;
  font-style: italic;
}

div.project a.screenshot_link {
  text-decoration: none;
  border-width: 0px;
  color: #fff;
}

div.project p.screenshot_caption {
  font-style: italic;
  font-size: 0.6em;
}

div.multimedia table.multimedia_list {
  padding: 0.3em;
}

div.multimedia table.multimedia_list tr.even {
  background-color: #ccc;
}

div.multimedia table.multimedia_list td.caption {
  width: 100%;
}

div.multimedia table.multimedia_list td.preview img {
  border-width: 0px;
}

div.multimedia table.multimedia_list td.caption table {
  font-size: 0.8em;
  width: 100%;
  padding: 0.2em;
}

div.multimedia table.multimedia_list td.caption table tr.category {
  font-style: italic;
}

div.multimedia table.multimedia_list td.caption table tr.media_upload {
  font-style: italic;
  text-align: right;
  font-size: 0.8em;
}

div.multimedia table.multimedia_detail {
  width: 100%;
  padding: 0.3em;
}

div.multimedia table.multimedia_detail td {
  text-align: center;
}

div.multimedia table.multimedia_detail td.description {
  font-style: italic;
  font-size: 0.8em;
}
