{% load i18n %}
{% comment %}requires "objects" (last N publications){% endcomment %}
{% if objects %}
<table class="list">
  {% if include_header %}
  <tr>
    <th>{% trans "date" %}</th>
    <th>{% trans "title" %}</th>
    <th>{% trans "downloads" %}</th>
  </tr>
  {% endif %}
  {% for obj in objects %}
  <tr class="{% cycle 'even' 'odd' %}">
    <td class="publication_date">{{ obj.date|date:"d/m/y" }}</td>
    <td class="publication_title"><a href="{% url djub:detail obj.id %}" title="{% trans "view details" %}">{{ obj.title|truncatewords:"10" }}</a></td>
    <td class="publication_attachments">
      {% for a in obj.file_set.all %}
      {% if a.public %}<a href="{{ a.data.url }}" title="{% trans 'download' %} {{ a.data }}"><span class="attachment">{{ forloop.counter }}</span></a>{% endif %}
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
