@import "widgets.css";

p.publication_year {
  margin-top: 1em;
  font-size: 1.8em;
  font-weight: bold;
}

.publication table {
  width: 100%;
  font-size: 1.1em;
}

.publication tr {
  height: 3em;
}

.publication td {
  padding: 3px; 
}

.publication td.publication_date {
  width: 12%;
}

.publication td.publication_type {
  width: 15%;
}

.publication td.publication_attachments {
  width: 10%;
}

.publication_attachments a {
  text-decoration: none;
}

.publication_attachments .attachment {
  background-color: green;
  border-color: green;
  color: white;
  font-family: arial, helvetica, sans;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.1em;
  border-style: outset;
  border-width: 1px;
}

.publication_attachments .attachment:hover {
  background-color: #0c0;
  border-color: #0c0;
  border-style: inset;
}

.publication p.detail {
  margin-top: 10px;
  font-size: 1.1em;
  text-align: center;
  color: #888;
  font-style: italic;
}

.publication p.authors {
  margin-top: 10px;
  font-size: 1.1em;
  text-align: center;
  font-weight: bold;
}

.publication .abstract {
  margin-top: 10px;
  color: #000;
  font-family: serif;
  text-indent: 1.3em;
  font-size: 1.3em;
}

.publication table.files {
  font-size: 1em;
  background-color: #dca;
  border: 1px solid #333;
}

.publication table.files th {
  text-align: center;
}

.publication table.files a:link, .publication table.files a:visited {
  font-size: 1em;
  color: #333;
  text-align: center;
  padding: 0.3em;
}
