{% extends "themes/theme1.html" %}
{% load i18n %}
{% load markup %}
{% block title %}{% trans "Bookmark Gallery" %}{% if owner %} ({{ owner }}){% endif %}{% endblock %}

{% block content %}
  <body>
    <div class="delicious">
      <p class="title">{% trans "Bookmark Gallery" %}{% if owner %} ({{ owner }}){% endif %}</p>
      {% for entry in entries %}
      <table>
        <tr class="{% cycle 'even' 'odd' %}"><td>
          <a href="{{ entry.links.0.href }}">
            <font class="entry_title">{{ entry.title }}</font>
          </a>  
          <font class="entry_text">{{ entry.summary }}</font>
          <font class="entry_date">{% trans "bookmarked on" %} {{ entry.updated }}</font>
    </td></a></tr>
      </table>
      {% endfor %}
    </div>
  </body>
{% endblock %}

