{% extends "themed.html" %}
{% load i18n %}
{% load google_filters %}
{% block title %}{% trans "Video Gallery" %} :: {{ object.title }}{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block content %}
<div class="post">
  <h2 class="title">{{ object.title }}</h2>
<p class="date">{% trans "published" %}: {{ object.published|date:"j/M/Y" }}</p> 
{% if object %}
<div class="youtube-video">
{{ object.flash_player_html|safe }}<br/>
{% if object.description %}{% trans "Description" %}: {{ object.description }}<br/>{% endif %}
{% trans "Uploaded by" %}: {{ object.author }}<br/>
{% trans "Duration" %}: {{ object.duration }} {% trans "seconds" %}
</div>
{% else %}
{% trans "Cannot connect to YouTube service at" %} {% now "H:i j/M/Y" %}
{% endif %}
</div>
{% endblock %}
