{% extends "themed.html" %}
{% load i18n %}
{% load google_filters %}
{% block title %}{% trans "Video Gallery" %}{% endblock %}

{% block content %}
<div class="post">
<h2 class="title">{% trans "Video Gallery" %}</h2>
<p class="date">{% trans "updated" %}: {% now "H:i j/M/Y" %}</p> 
<p class="preamble">{% trans "From this page you can access all of our videos. Click on the arrows bellow to go back in history." %}</p>
{% if objects.object_list %}
<p class="pagination">
  {% if objects.has_previous %}
    <a href="?page=1"><img src="{{ MEDIA_URL }}extras/tango/16x16/actions/go-first.png" align="top" title="{% trans 'First page' %}" alt="{% trans 'First page' %}"/></a>
    <a href="?page={{ objects.previous_page_number }}"><img src="{{ MEDIA_URL }}extras/tango/16x16/actions/go-previous.png" align="top" title="{% trans 'Previous' %}" alt="{% trans 'Previous' %}"/></a>
  {% endif %}
  {% trans "Page" %} {{ objects.number }} {% trans "of" %} {{ objects.paginator.num_pages }}
  {% if objects.has_next %}
    <a href="?page={{ objects.next_page_number }}"><img src="{{ MEDIA_URL }}extras/tango/16x16/actions/go-next.png" align="top" title="{% trans 'Next' %}" alt="{% trans 'Next' %}"/></a>
    <a href="?page={{ objects.paginator.num_pages }}"><img src="{{ MEDIA_URL }}extras/tango/16x16/actions/go-last.png" align="top" title="{% trans 'Last page' %}" alt="{% trans 'Last page' %}"/></a>
  {% endif %}
</p>
{% for entry in objects.object_list %}
<table class="video-gallery-entry">
  <tr class="thumbnail-entry">
    <td>
      <a href="{% url youtube-view-video entry.parent.id entry.id %}"><img class="photo" width="280" height="210" src="{{ entry.thumbnail.url }}"/></a>
    </td>
  </tr>
  <tr class="title-entry"><td><div class="album">{{ entry.title }}</div></td></tr>
  <tr class="details-entry">
    <td>
      {% if entry.description %}{{ entry.description }}<br/>{% endif %}
      {{ entry.published|date:"j/M/Y" }} ({{ entry.author }})<br/>
      {{ entry.duration }} {% trans "seconds" %}
    </td>
  </tr>
</table>
{% endfor %}
{% else %}
{% trans "Cannot connect to YouTube service at" %} {% now "H:i j/M/Y" %}
{% endif %}
</div>
{% endblock %}
