{% extends "themed.html" %}
{% load i18n %}
{% block header %}
  <!-- Feeds go here if the caller has provided so -->
  {% for feed in feeds %}
  <link rel="alternate" type="application/atom+xml" title="{{ feed.title }}" href="http://{{ site.domain }}/publication/feeds/{{ feed.basename }}/"/>
  {% endfor %}
{% endblock %}
{% block title %}{% trans "Publications" %}{% endblock %}

{% block content %}
    <div class="publication">
      <p class="title">{% blocktrans %}Publications (in reverse chronological
      order){% endblocktrans %}</p>
      {% if object_list %}
        <table class="publication_list">
          {% for p in object_list %}
          <tr class="{% cycle 'even' 'odd' %}">
            <td class="publication_date">{{ p.date|date:"F/Y" }}</td> 
            <td class="publication_type">{{ p.get_publication_type_display }}</td>
            <td class="publication_title"><a href="{{ p.id }}">{{ p.title }}</a></td>
          </tr>
          {% endfor %}
        </table>
      {% else %}
      <p>{% trans "No publications are available." %}</p>
      {% endif %}
    </div>
{% endblock %}
